<% layout('/layouts/boilerplate') %>

    <div class="container mt-3">
        <h1 class="text-center display-3">COLLECTIONS</h1>
        <div class="row">
            <% collections.forEach((collection, i)=> { %>
                <% if (i !==0 && i % 3===0) { %>
        </div>
        <div class="row mt-0 mt-md-3">
            <% } %>
                <div class="col-md-4 mb-3 mb-md-0">
                    <a href="/collections/<%= collection._id %>">
                        <div class="card bouncy">
                            <img src="<%= collection.leadPhoto %>" class="card-img-top" alt="" crossorigin="anonymous">
                            <div class="card-body">
                                <p class="card-title">
                                    <%= collection.name.toUpperCase() %>
                                </p>
                                <p class="card-text">
                                    <%= collection.description %>
                                </p>
                                <% if (currentUser) { %>
                                    <form action="/collections/<%= collection._id %>/edit" class="mb-2">
                                        <button class="btn btn-info">EDIT</button>
                                    </form>
                                    <form action="/collections/<%= collection._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">DELETE</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
    </div>